<html>

<head id="header">
	<title>Jujitsu</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-route.min.js"></script>
	<script src="/js/routes.js"></script>
	<script src="/js/home.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
</head>

<div id="container">
	
	<body ng-app="Jujitsu" id="body">
		<div ng-view></div>
	</body>

</div>
</html>